<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qr.scan.mapper.SystemMapper">
    <select id="checkTableExistsWithSchema"
            resultType="java.lang.Integer">
        SELECT COUNT(1) FROM information_schema.tables WHERE
            table_name = #{tableName}
    </select>

    <update id="initTableVersion">
        drop table if exists t_version;
        create table t_version(
                                 id int  primary key not null ,
                                 version varchar(50) null,
                                 create_time TIMESTAMP
        );
        insert into t_version(id, version, create_time) VALUES (1,1,now());
    </update>

    <update id="initTableSysParam">
        drop table if exists t_sys_param;
        create table t_sys_param(
                                 id int auto_increment primary key not null ,
                                 name varchar(50) null,
                                 code varchar(50) null,
                                 value varchar(50) null,
                                 remark varchar(50) null,
                                 type_code varchar(50) null,
                                 create_time TIMESTAMP
        );
        insert into t_sys_param(id, name, code, value, remark,type_code, create_time) VALUES (1,'扫描点跳转时间','JumpPointTime','4','单位秒','sys',now());
    </update>
    <update id="initTableCamera">
        drop table if exists t_camera;
        create table t_camera(
                                 id int auto_increment primary key not null ,
                                 name varchar(50) null,
                                 ip varchar(20) null,
                                 port int null,
                                 username varchar(255) null,
                                 passwd varchar(255) null,
                                 cols int not null default 3,
                                 rows int not null default 3,
                                 create_time TIMESTAMP
        );
    </update>
    <update id="initTableCameraPoint">
        drop table if exists t_camera_point;
        create table t_camera_point(
                                 id int auto_increment primary key not null ,
                                 camera_ip varchar(50) not null,
                                 name varchar(50) null,
                                 image text null,
                                 create_time TIMESTAMP
        );
    </update>
</mapper>
